body
{
	
	color: rgb(255, 255, 255);
	font-family: 'Noto Sans JP', sans-serif, 'Roboto', sans-serif;
	font-size: 24px;
	margin:0px;
	padding:8px;
	/* Padding to avoid the "unsafe" areas behind notches in the screen */
	/* padding: env(safe-area-inset-top, 0px) env(safe-area-inset-right, 0px) env(safe-area-inset-bottom, 0px) env(safe-area-inset-left, 0px); */
}

.Banner
{
	min-height: 24%;
}

.Weather
{
	min-width: 24%;
}

#App
{
	margin: auto;
	height: 746px;
	width: 408px;
	padding: 8px;
	box-sizing: border-box;
}

/* .dev-box
{
	border: 1px;
	border-style: dashed;
}
*/

#MainWeather > h1
{
	margin: auto;
	width: min-content;
	font-size: 3em;
	margin: 0.8rem auto 2rem auto;
}

.card
{
	background-color: #efefef0e !important;
	padding: 1rem;
}

.hr 
{
	margin: auto;
	border-top: 1px solid rgba(160,160,160,0.2);
}

#EstimationBox > span:nth-child(1)
{
	/* margin-bottom: 4px; */
}

#EstimationBox span
{
	margin: 7px 0 8px 0;
}



#HourlyWeather
{
	display: grid;
	grid-template-columns: repeat(4, 25%);

}

#HourlyWeather > div
{
	text-align: center;
}


#HourlyWeather > div> img
{
	margin-bottom: -15px;
}

#HourlyWeather > img
{
	width: 96px;
}

#HourlyWeather:last-child
{
	margin-top: 58px;
}

#EstimationBox
{
	text-align: center;
	display: grid;
	grid-template-rows: auto auto;
}

#EstimationBox > span
{
	/* font-size: 1.5em; */
}

#EstimationBox > div
{
	display: grid;
	grid-template-columns: 50% 50%;
	/* font-size: 1.4em; */
}

.weather-svg
{
/* 	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	background-position-x: center;
	background-position-y: center; */
	height: 48px;
	width: 48px;
	transform: scale(1.5);
/* 	margin-top: -16px;
	margin-left: -16px; */
}



#SettingsBox 
{
	text-align: center;
}

#SettingsBox > div
{
	display: grid;
	grid-template-columns: 50% 50%;
}

hr
{
	width: 65%;
}

input[type=number]
{
	width: 90%;
}

input[type=checkbox]
{
	margin: auto 0;
}